section#about
  .about.container
    .col-left
      .about-img
        img(src="../section/img/img-2.png" alt="img")
    .col-right
      h1.section-title About
        span us
      h2 Front End Developer Team
      p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
        best solutions in terms of interface to domestic and international customers!
      a.cta(href="#") Download Resume
