section#footer
  .footer.container
    .brand
      h1
        span MICROTEAM
    h2 Your Complete Web Solution
    .social-icon
      .social-item
        a(href="#")
          img(src="https://img.icons8.com/bubbles/100/000000/facebook-new.png")
      .social-item
        a(href="#")
          img(src="https://img.icons8.com/bubbles/100/000000/instagram-new.png")
      .social-item
        a(href="#")
          img(src="https://img.icons8.com/bubbles/100/000000/tiktok.png")
    p Copyright © 2023 PTIT. All rights reserved
