section#header
  .header.container
    .nav-bar
      .brand
        a(href="#hero")
          h1
            span MICROTEAM
      .nav-list
        .hamburger
          .bar
        ul
          li
            a(href="#hero" data-after="Home") Home
          li
            a(href="#services" data-after="Service") Services
          li
            a(href="#projects" data-after="Projects") Projects
          li
            a(href="#about" data-after="About") About
          li
            a(href="#contact" data-after="Contact") Contact
