section#projects
  .projects.container
    .projects-header
      h1.section-title Recent
        span Projects
    .all-projects
      .project-item
        .project-info
          h1 Project 1
          h2 Coding is Love
          p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
            best solutions in terms of interface to domestic and international customers!
        .project-img
          img(src="../section/img/img-1.png" alt="img")
      .project-item
        .project-info
          h1 Project 2
          h2 Coding is Love
          p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
            best solutions in terms of interface to domestic and international customers!
        .project-img
          img(src="../section/img/img-1.png" alt="img")
      .project-item
        .project-info
          h1 Project 3
          h2 Coding is Love
          p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
            best solutions in terms of interface to domestic and international customers!
        .project-img
          img(src="../section/img/img-1.png" alt="img")
      .project-item
        .project-info
          h1 Project 4
          h2 Coding is Love
          p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
            best solutions in terms of interface to domestic and international customers!
        .project-img
          img(src="../section/img/img-1.png" alt="img")
      .project-item
        .project-info
          h1 Project 5
          h2 Coding is Love
          p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
            best solutions in terms of interface to domestic and international customers!
        .project-img
          img(src="../section/img/img-1.png" alt="img")
