section#services
  .services.container
    .service-top
      h1.section-title
        span Services
      p we are passionate students of PTIT. MICROTEAM was established in 2023,
        with the mission to bring the best solutions in terms of interface to
        domestic and international customers!
    .service-bottom
      .service-item
        .icon
          img(src="https://img.icons8.com/bubbles/100/000000/services.png")
        h2 Web Design
        p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the best solutions
          in terms of interface to domestic and international customers!
      .service-item
        .icon
          img(src="https://img.icons8.com/bubbles/100/000000/services.png")
        h2 Web Design
        p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
          best solutions in terms of interface to domestic and international customers!
      .service-item
        .icon
          img(src="https://img.icons8.com/bubbles/100/000000/services.png")
        h2 Web Design
        p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
          best solutions in terms of interface to domestic and international customers!
      .service-item
        .icon
          img(src="https://img.icons8.com/bubbles/100/000000/services.png")
        h2 Web Design
        p we are passionate students of PTIT. MICROTEAM was established in 2023, with the mission to bring the
          best solutions in terms of interface to domestic and international customers!
